@charset "utf-8";
/* CSS Document */
#ctnr_main {
	width:1032px;
	margin:auto;
	height:auto;
	background-image:url(../images/center_content_mainbg.jpg);
	background-repeat:repeat-y;
}

#cntr_contentTwoCol{
	
	background-image:url(../images/news/bg_cntrContent_twoCol.jpg);
	background-repeat:no-repeat;
	width:1032px;
	height:600px;
	vertical-align:top;
	}

.msie7 #cntr_contentTwoCol{	height:auto;
}
	
/* Form Page CSS */
#cntr_contentRight {
jfloat:left;
padding-top:18px;
width:730px;
}

#cntr_contentRightTitle {
background-image:none;
background-repeat:repeat-x;
height:24px;
padding-left:10px;
padding-top:7px;
width:730px;
}

#cntr_contentCentral_two{
width:715px; 
jfloat:left;
padding-left:10px;
padding-right:15px;
padding-top:14px;
}
.right-col-icons-2 {float:right; font-family:Arial, Helvetica, sans-serif; margin:0; padding:0;height:23px;margin-top:-4px;;width:196px;}
.msie6 .right-col-icons-2{margin-top:-16px;}
.right-col-icons-2 li {float:left; list-style-type:none; padding-right:6px;}
.right-col-icons-2 li a{display:block; padding:4px; padding-left:26px; color:#1d6d8b; font-size:11px; font-weight:bold; text-decoration:none; background-position:left center; background-repeat:no-repeat;}
.right-col-icons-2 li a.save {background-image:url(../images/save-icon.gif)}
.right-col-icons-2 li a.email{background-image:url(../images/email-icon.gif)}
.right-col-icons-2 li a.print{background-image:url(../images/print-icon.gif)}

.round-corners {width:100%; border:0  none;background-color:#f4f4f4; color:#333;}
.round-corners .tl {width:16px; height:16px; background:url(../images/table-corners.png) top left no-repeat;}
.round-corners .tr {width:16px; height:16px; background:url(../images/table-corners.png) right top no-repeat;}
.round-corners .bl {width:16px; height:16px; background:url(../images/table-corners.png) left bottom no-repeat;}
.round-corners .br {width:16px; height:16px; background:url(../images/table-corners.png) right bottom no-repeat;}

.round-corners td{margin:0; padding:0; background-color:#f4f4f4; vertical-align:middle}
.form-content {padding:6px; padding-bottom:12px;}
.form-content td{padding:6px; vertical-align:top}
.form-content input {vertical-align:middle;}
.form-content input.text-field,
.form-content .textarea
{border:1px solid #bcbcbc; padding:3px;}
.form-content img {vertical-align:middle;}
.form-content td.label {width:184px; text-align:left; padding-right:6px; font-size:11px; font-weight:bold; vertical-align:middle}

.form-content .acc-content td.label {width:134px;}
.form-content .acc-content td.lrg-label {width:337px;}



/* New Error Page CSS */
.error-msg{
width:60%; height:26px; background:#fff; color:#f00; text-align:left; padding-top:6px; padding-left:12px;
}
.error-msg img{
vertical-align:middle; padding-right:12px;
}

.text-field.error{
background-color:#fffca1
}

.red{font-size:12px; color:#f00; font-weight:bold}

.textarea{}
.form-content td.align-top{
	vertical-align:top;
	}
	
	
input[type="submit"].input-button, input[type="button"].input-button, input[type="reset"].input-button
{
	background: url("../images/button-bg.gif") repeat-x scroll 0 -3px transparent;
	border: 1px solid #ADAEAB;
	color: #555555;
	cursor: pointer;
	padding: 3px 6px;
	font-weight:bold;
	font-size:11px;
}

/* Badge Forms */

     .clear{clear:both}
	 .badge-form{
		 margin: 0 auto;
		width: 650px;
		}
	 .badge-form h2{font-size:16px; color:#666;}
	 .badge-form h3{font-size:14px; color:#666;}
	  .badge-form table td{padding:8px; vertical-align:middle}
	  .badge-form table tr.alt td{background-color:#F9F9F9}
	 .badge-form input{width:auto; vertical-align:middle}
	 .badge-form .input-text{width:50px}
	 .badge-form .w-120{width:153px}
	 .badge-form .w-40{width:40px}
	 .badge-form .w-60{width:60px}
	 .badge-form strong{font-weight:bold; font-size:12px;}
	 .badge-form .form1-heading{width:120px; float:right; border:1px solid #f4f4f4; background-color:#D7E5CB; text-align:center; border:0 none}
	 .badge-form .form1-heading td{ background-color:#dddcdc; }
	 .badge-form .form1{width:100%; float:left; border:1px solid #dddcdc;}
	 .badge-form .form1 .colm-1{width:220px; font-weight:bold}
	 .badge-form .form1 .colm-2{width:220px;}
	 .badge-form .form1 .colm-3{width:40px; text-align:center}
	 .badge-form .form1 .colm-4{width:40px;text-align:center}
	  .badge-form .form2-heading{width:98px; float:right; border:1px solid #f4f4f4; background-color:#dddcdc; text-align:center; border:0 none}
	  .badge-form .form2-heading td{background-color:#dddcdc;}
	  .badge-form .form2{ border:1px solid #dddcdc; width:100%; float:left; clear:both}
	  .badge-form .form2 .colm-1{width:110px;}
	 .badge-form .form2 .colm-2{width:60px;}
	 .badge-form .form2 .colm-4{width:40px;text-align:center}
	 .badge-form .form2 .colm-3{width:430px;}
	 .badge-form .input-large{width:320px;}
	 .badge-form .preview-badge{background-color:#D7E5CB; border:1px solid #1D6D8B; padding:4px 10px; background-color:#fff; cursor:pointer}
	 .badge-preview .badge-change{background-color:#D7E5CB; border:1px solid #1D6D8B; padding:4px 6px; background-color:#fff; cursor:pointer}
	 .badge-preview .approve-badge{background-color:#D7E5CB; border:1px solid #1D6D8B; padding:4px 6px; background-color:#fff; cursor:pointer}       
	 .badge-preview .name{color:#1D6D8B;}
	 .badge-preview .name strong{font-weight:bold}


.policy-text{
  border: 1px solid #ccc;
  padding: 12px;
  background-color: #FFF;
  height: 120px;
  overflow: auto;
  clear:both;
}

.policy-ckbox{
  vertical-align: middle;
  margin-right: 6px;
}

/* search table result grid */

.search-result-table{
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	width:100%;
	}

.search-result-table td,
.search-result-table th{
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	padding:6px;
	}
.search-result-table th{
	background-color:#eaeaea;
	color:#333333;
	font-weight:bold;
	}
.search-result-table tr.alt td{
	background-color:#F9F9F9
	}
	
.sub-form{
	padding:12px 32px 32px 32px;

	}
.round-corners .sub-form table{
	border:1px solid #ccc;
	}
.round-corners .sub-form td {
  background-color: #fcfcfc;
  margin: 0;
}	
.right-col-icons-2 li.print-only{float:right}
.badge-form .policy-header strong{font-size:18px;}

.policy-sub-header{}
.policy-sub-header h3{ width:70%; float:left;}
.policy-sub-header img{ width:68px; float:right; padding-bottom:6px; vertical-align:middle}



/* pagination */

/* Pagination */

.taglib-page-iterator {
		padding:10px 0; 
		height:24px;
		}
.taglib-page-iterator .search-results{
	width:240px;
	float:left;
	padding-top:4px;
	}

.taglib-page-iterator .search-pages {
	float:right;
}
.taglib-page-iterator .search-pages .page-links a, .taglib-page-iterator .search-pages .page-links span {
	background:url() no-repeat 0 0;
	border-left:1px solid #ccc;
	padding:2px 15px;
}
.taglib-page-iterator .search-pages .page-links {
	padding:5px 0;
	}
.taglib-page-iterator .search-pages .page-links span {
	background-position:0 100%;
}
.taglib-page-iterator .search-pages .page-links a.first, .taglib-page-iterator .search-pages .page-links span.first {
	background-image:url(../images/arrows/paging_first.png);
	background-repeat:no-repeat;
	border-left:none;
}
.taglib-page-iterator .search-pages .page-links a.previous, .taglib-page-iterator .search-pages .page-links span.previous {
	background-image:url(../images/arrows/paging_previous.png);
	background-repeat:no-repeat;
}
.taglib-page-iterator .search-pages .page-links a.next, .taglib-page-iterator .search-pages .page-links span.next {
	background-image:url(../images/arrows/paging_next.png);
	background-repeat:no-repeat;
}
.taglib-page-iterator .search-pages .page-links a.last, .taglib-page-iterator .search-pages .page-links span.last {
	background-image:url(../images/arrows/paging_last.png);
	background-repeat:no-repeat;
}
.taglib-page-iterator .search-pages .page-links a.first, .taglib-page-iterator .search-pages .page-links span.first, .taglib-page-iterator .search-pages .page-links a.previous, .taglib-page-iterator .search-pages .page-links span.previous {
	padding-right:5px;
}
.taglib-page-iterator .search-pages .page-links a.next, .taglib-page-iterator .search-pages .page-links span.next, .taglib-page-iterator .search-pages .page-links a.last, .taglib-page-iterator .search-pages .page-links span.last {
	background-position:100% 2px;
	padding-left:5px;
}
.taglib-page-iterator .search-pages .page-links span.first, .taglib-page-iterator .search-pages .page-links span.previous {
	background-position:0 -16px;
}
.taglib-page-iterator .search-pages .page-links span.next, .taglib-page-iterator .search-pages .page-links span.last {
	background-position:100% 100%;
}
.taglib-page-iterator .search-pages .delta-selector, .taglib-page-iterator .search-pages .page-selector, .taglib-page-iterator .search-pages .page-links {
	float:left;
}
.taglib-page-iterator .search-pages .page-selector {
	margin-left:10px;
	margin-right:10px;
	padding-left:10px;
	padding-right:10px;
}

select, textarea, .textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #D7DCFF;
    color: #555555;
	border:1px solid #BCBCBC
}


/*Created VK*/

.buttonlink{
	background: url("../images/button-bg.gif") repeat-x scroll 0 -3px transparent;
	border: 1px solid #ADAEAB;
	color: #555555;
	cursor: pointer;
	padding: 3px 6px 3px 6px;
	font-weight:bold;
	font-size:11px;
	text-decoration:none;
	mdisplay:inline-block;
	vertical-align:middle;
	}
.ie7 .buttonlink{padding: 5px 6px 4px 6px;}
	
.bold{font-weight:bold;	font-size:11px;}	
.bold12{font-size:12px !important; font-weight:bold}

.heading16{font-size:16px; font-weight:bold;}
	
	
	/* Print page style */

a {color:#1D6D8B; text-decoration:none}
a:hover {color:#18546A}
#page {width:570px; margin:0 auto; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000}

#page .popup-logo img {margin:0px; padding:0px;}
#page .bread-crumb{ font-size:11px; font-weight:bold; color:#3d3d3c;padding-bottom:6px;
padding-left:16px;
padding-top:0;}


.msie7 .popup-content			{margin-top:-4px;}
#page .popup-content 			{padding:12px 16px;}
.msie6 #page .popup-content 	{margin-top:-7px;}
#page .popup-content h1			{font-size:12px; font-weight:bold; color:#252525; margin-bottom:6px;}
#page .popup-content h2			{font-size:11px; font-weight:bold; color:#616160; margin:6px 0px; margin-top:0px;}
#page .popup-content p {font-size:11px; color:#757672; line-height:15px;}
#page .popup-content img  {float:left; padding-right:12px;}
#page .more-post { clear:both; padding-top:16px;}
#page .more-post h3{font-size:11px; font-weight:bold}
#page .more-post p{margin-top:6px; margin-bottom:6px;}

.popup-footer {clear:both;  }
.popup-footer .copyright {border-top: 1px solid #CCCCCC;

    margin: 0 5px;
    padding: 5px;
    text-align: left;}

.popupheader { border-bottom: 1px solid #CCCCCC;   height: 30px;  line-height: 28px;   padding-right: 5px;   text-align: right;   vertical-align: baseline;}
.popupheader img{  vertical-align: middle; margin-right:5px; margin-left:5px }
.popup-top{border:1px solid #c0c0c0; margin-bottom:10px}

.fright{ float:right}
.fleft{ float:left}

.form-content_popup { text-align:left; border: 1px solid #c0c0c0; margin-bottom:10px; width:100%}.form-content_popup tr th, .form-content_popup tr td{padding:5px; border-bottom:1px dotted #c0c0c0}
.form-content_popup  th { background-color:#F4F4F4; width:25%}
.form-content_popup  tr.last th, .form-content_popup   tr.last td{border:0 none}


.con-list-cont {  width:162px; border: 1px solid #CCCCCC; margin-bottom:10px }
.con-list-cont p{ background-color: #EAEAEA;    color: #333333;   font-weight: bold; padding:5px; margin:0}

ul.consultant-list {height:400px; overflow-y:auto; 
    margin: 0;
    padding: 0;  border-top: 1px solid #CCCCCC;
	}
	

ul.consultant-list li{background-color:#F4F4F4; list-style: none outside none;
    margin: 0;
     padding: 3px 3px 3px 5px;}
ul.consultant-list li.alt{	background-color:#F9F9F9}
ul.consultant-list li a{}


/* search table result grid */

.search-result-table{
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	width:100%;
	}

.search-result-table td,
.search-result-table th{
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	padding:6px;
	}
.search-result-table th{
	background-color:#eaeaea;
	color:#333333;
	font-weight:bold;
	}
.search-result-table tr.alt td{
	background-color:#F9F9F9
	}
	
	
	/*jay*/


.question{padding-bottom:6px}

	.red_star{color:#ff0000;font-weight:bold;font-size: 12px;}
 .question{font-weight:bold;font-size: 12px ;}
 .ques_radio{margin:0 3px 0 0;}
  .ques_radio1{position:relative;top:-15px;}
 .ques_label{padding:5px 10px 0 0;position:relative;top:1px;display:inline-block; cursor:pointer}

 .dia-tab{position:relative;top:1px}
 .dia-tab li{float:left;margin-left:5px;}
 .dia-tab li span.spn-left{float:left;background:url(../images/tab-left.gif) no-repeat;width:4px;height:22px;}
 .dia-tab li span.spn-middle{float:left;background:url(../images/tab-middle.gif) repeat-x;height:22px;padding:0 10px}
 .dia-tab li span.spn-middle a{line-height:20px;color: #333333;    font-weight: bold;}
 .dia-tab li span.spn-right{float:left;background:url(../images/tab-right.gif) no-repeat;width:4px;height:22px;}

 .dia-tab li.selected span.spn-left{float:left;background:url(../images/tab-left-sel.gif) no-repeat;width:4px;height:22px;}
 .dia-tab li.selected span.spn-middle{float:left;background:url(../images/tab-middle-sel.gif) repeat-x;height:22px;padding:0 10px}
 .dia-tab li.selected span.spn-middle a{line-height:20px}
 .dia-tab li.selected span.spn-right{float:left;background:url(../images/tab-right-sel.gif) no-repeat;width:4px;height:22px;}

 .dia-tab-content{clear:both;border:1px solid #b5b5b5;padding:10px;height:200px;overflow:auto}

 .form-content td.label_leftalgn{text-align:left}

 .search-result-table tr td.trSelect{background-color:#75cfff }
 
 
 /* new style for Qs */
 
#questions_list{
	padding:6px;
	} 
#questions_list li{
	display:none;
	border-bottom: 1px dotted #CCCCCC;
	margin-bottom: 12px;
	padding-bottom: 12px;
	}
#questions_list li.first{
	display:block;
	}	
	
#cntr_contentOneCol{
	float: left;
	margin: 0 auto;
	padding-left: 64px;
	padding-top: 26px;
	width: 940px;
	}
	
#cntr_contentOneCol .heading-update{width:auto; float:left}
	
	
/* action button */
	
.action-button{
	background: url("../images/button-bg.gif") repeat-x scroll 0 -3px transparent;
	border: 1px solid #ADAEAB;
	color: #555555;
	cursor: pointer;
	padding: 3px 9px;
	font-weight:bold;
	font-size:11px;
	text-decoration:none;
	}
	
.newlink-button{
	background: url("../images/button-bg.gif") repeat-x scroll 0 -3px transparent;
	border: 1px solid #ADAEAB;
	color: #555555;
	cursor: pointer;
	padding: 3px 9px;
	font-weight:bold;
	font-size:11px;
	display: block;
	text-decoration:none;
	}

.action-menu {
	background:#fff;
	left:0;
    position:absolute;
    top: -46px;

    width: 98%;
    z-index: 999;
	border:1px solid #ccc;
	margin:0px;
	padding:0px
	}
.msie7 .action-menu, .ie7 .action-menu{top: -42px;}

.action-menu li{
	padding:4px;
	border-bottom:1px solid #ccc;
	}	
.action-div	{
	position:relative;
	padding-top:6px;
	padding-bottom:6px;
	}
	
#prev_worked,
#other_location, #prev_worked, #edison_offsite, #pre-identified_input{
	padding-top:8px; display:none;
	}
	
#prev_worked p,
#other_location, #edison_offsite, #pre-identified_input{
	padding-bottom:8px;
	}
#prev_worked strong,
#other_location strong, #edison_offsite strong, #pre-identified_input strong{
	font-weight:bold;
	}
.innerTabel,.innerTabel td	{padding:2px;}

/* accordian menu */

.acc-content{display:none}
h3.acc-title{
	background:#e8e8e8 url(../images/129.png) 666px center no-repeat;
	padding:4px;
	border:1px solid #999;
	cursor:pointer;
	margin-bottom:8px;
	font-size:13px;
	}
	
h3.active{
	background-image:url(../images/130.png);
	}
	
	
.menu {  margin: 10px 0 0;  border-bottom: 1px solid #5c5d57;    clear: both;     
    overflow: hidden; 
    padding: 0;}
.menu li { display: inline; }
.menu li a { background: #fff; padding: 5px; float:left;
	border-width:1px 1px 0px 1px; border-color:#5c5d57; border-style:solid;
	border-color:#244386; border-bottom: none; text-decoration: none; color: #000; font-size:12px; font-weight: bold;
	  margin-right: 2px;		 
 }
.menu li.active a { background: #5c5d57; color:#fff }


#tab.menu li a{
	max-width: 46px;
    overflow: hidden;
    padding: 5px 2px;
    white-space: nowrap;
}
#tab.menu li.active a {  max-width: 100%; overflow: visible; padding: 5px; }

.content {  clear: both;  background: none ; padding: 10px 2px 2px; }

.left-links li ul{ margin-left:10px}

.tip {
	color: #000;
	background:#fefefe;
	display:none; /*--Hides by default--*/
	padding:10px; font-weight:normal;
	position:absolute;	z-index:1000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; border:1px dotted #cccccc
}

/* New Classes added after 10th Aug */

.form-content td.form-item {vertical-align: middle;}
.form-content td.label {width:150px}

table.dtdbrd-btm {border-bottom:1px dotted #000; margin-bottom:10px;  width: 100%;}
tr.dtdbrd-btm td {border-bottom:1px dotted #000; }
.form-content td.nopad{ padding:0px}
.form-content td.topalign{ vertical-align: top;}


ul.sitemap { margin: 10px 38px;}
ul.sitemap li{ list-style: disc outside none; margin: 5px;}
ul.sitemap li a{}

ul.sitemap ul { margin: 0px 20px;}
ul.sitemap ul li{}

.form-content .topmargin{margin-top:10px; }
.form-content .btmmargin{ margin-bottom:10px}
.form-content .rhtmargin{ margin-right:10px}
.rhtmargin5{ margin-right:5px}

fieldset.fieldset{border: 1px solid #ccc; padding: 5px; margin-bottom: 10px;}
fieldset.fieldset legend{font-size: 12px; font-weight: bold; color:#1D6D8B} 

#cntr_content_left h3 {padding:0 0 5px 0; border-bottom:1px solid #dadada; margin-bottom:5px;}

.left-links li h3{font-size: 14px; font-weight: bold; color:#1D6D8B;}

h3 { font-size: 14px;}
#cntr_content_left h3 {   font-size: 14px;    font-weight: bold;}
	
	
.width70{ width:70px !important}
.width100{ width:100px !important}.width125{ width:125px !important}
.width150{ width:150px !important}.width180{ width:180px !important}
.width200{ width:200px !important}	
.width250{ width:250px !important}
.width300{ width:300px !important}
.widthfull{ width:98.5% !important}


h3.section-title{
	background:#e8e8e8 ;
	padding:4px;
	border:1px solid #999;
	cursor:pointer;
	margin-bottom:8px;
	font-size:13px;
	}


.aright{ text-align:right}
.aleft{ text-align:left}


.input-button-add{
	background: url("../images/add-bg.jpg") repeat-x scroll right -7px transparent;
	border: 1px solid #ADAEAB;
	color: #555555;
	cursor: pointer;
	padding: 3px 25px 3px 6px;
	font-weight:bold;
	font-size:11px;
	}
.input-button-add:hover, .input-button-add:focus{background: url("../images/add-bg.jpg") repeat-x scroll right -53px transparent;}

.input-button-remove{
	background: url("../images/remove-bg.jpg") repeat-x scroll right -7px transparent;
	border: 1px solid #ADAEAB;
	color: #555555;
	cursor: pointer;
	padding: 3px 30px 3px 6px;
	font-weight:bold;
	font-size:11px;
	}
.input-button-remove:hover, .input-button-remove:focus{	background: url("../images/remove-bg.jpg") repeat-x scroll right -53px transparent;}	
.input-button-moveright{
	background: url("../images/move-right.jpg") repeat-x scroll right -7px transparent;
	border: 1px solid #ADAEAB;
	color: #555555;
	cursor: pointer;
	padding: 3px 25px 3px 6px;
	font-weight:bold;
	font-size:11px;
	}

.input-button-moveleft{
	background: url("../images/move-left.jpg") repeat-x scroll right -7px transparent;
	border: 1px solid #ADAEAB;
	color: #555555;
	cursor: pointer;
	padding: 3px 30px 3px 6px;
	font-weight:bold;
	font-size:11px;
	}

.ctrDropDown{
    width: auto;
    

}
.ctrDropDownClick{
    width: auto;

}

.plainDropDown{
    width:145px;

}
